<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="transaction">
    <ion-item>
      <ion-label>Id</ion-label>
      <ion-note slot="end">{{transaction.id}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-note slot="end">{{transaction.amount}} RON</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Account</ion-label>

      <ion-select
        [value]="transaction.accountId"
        placeholder="Select One"
        (ionChange)="accountChanged($event)"
      >
        <ion-select-option *ngFor="let account of accounts" [value]="account.id"
          >{{account.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>RawAccount</ion-label>
      <ion-note slot="end">{{transaction.rawAccount}} </ion-note>
    </ion-item>
    <ion-item (click)="openPayeeModal()">
      <ion-label>Payee</ion-label>
      <ion-button *ngIf="!payee"> Pick one </ion-button>
      <ion-note *ngIf="payee" slot="end"> {{payee.name}} </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Raw payee</ion-label>
      <ion-note slot="end">{{transaction.rawPayee}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
