<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Configuration </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="sync()">Sync</ion-button>
  <ion-button (click)="syncSms()">Sync sms</ion-button>

  <ion-list>
    <ion-item>
      <ion-label>Start date</ion-label>
      <ion-datetime
        displayFormat="YYYY/MM/DD"
        [value]="startDate"
        placeholder="Select date"
        (ionChange)="startDateChanged($event)"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>YNAB Token</ion-label>
      <ion-input
        [value]="ynabToken"
        (ionChange)="ynabTokenChanged($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Budget</ion-label>
      <ion-select
        [value]="selectedBudgetId"
        placeholder="Select One"
        (ionChange)="budgetChanged($event)"
      >
        <ion-select-option *ngFor="let budget of budgets" [value]="budget.id"
          >{{budget.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
