<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Transaction </ion-title>
    <ion-button slot="end" (click)="syncTransactions()">Sync</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="new-transactions">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="synced-transactions">
      <ion-label>Synced</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides
    [options]="slideOpts"
    (ionSlideWillChange)="sliderWillChange()"
    #slider
  >
    <ion-slide>
      <ion-list>
        <!-- <ion-item *ngFor="let transaction of unkwnownTransactions">
          <ion-label> {{ transaction.account }} </ion-label>
        </ion-item> -->
      </ion-list>
    </ion-slide>
    <ion-slide style="display: flex">
      <ion-list style="flex: 1">
        <ion-item
          [routerLink]="['/transaction',transaction.id]"
          *ngFor="let transaction of transactions$ | async"
        >
          <ion-avatar slot="end">
            <ion-icon [name]="getIconName(transaction)"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>
              {{ transaction.date | date }} - {{ transaction.payeeName }}
              <span *ngIf="!transaction.payeeName" style="color: red"
                >UNKWNOWN</span
              >
            </h2>
            <h3>
              {{transaction.amount }} RON - {{ transaction.accountName }}
              <span *ngIf="!transaction.accountName" style="color: red"
                >UNKWNOWN</span
              >
            </h3>
            <p>{{transaction.rawPayee }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
