:host {
  ion-segment {
    --background: var(
      --ion-toolbar-background,
      var(--ion-background-color, #fff)
    );

    ion-segment-button ion-label {
      > span {
        vertical-align: middle;
      }

      > ion-badge {
        margin-left: 6px;
        vertical-align: middle;
      }
    }
  }
}
