<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Transaction </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="checkSms()"> Check SMS </ion-button>
      <ion-button
        [disabled]="(readyToSyncCount$ | async) === 0"
        (click)="syncTransactions()"
      >
        Sync
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment
    color="primary"
    scrollable="true"
    [value]="selectedSegment"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="not-ready-transactions">
      <ion-label>
        <span>Not ready</span>
        <ion-badge *ngIf="(notReadyToSyncCount$ | async) > 0" color="danger">
          {{notReadyToSyncCount$ | async}}
        </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="synced-transactions">
      <ion-label>
        <span>Not synced</span>
        <ion-badge *ngIf="(readyToSyncCount$ | async) > 0" color="primary">
          {{readyToSyncCount$ | async}}
        </ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="all-transactions">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides
    [options]="slideOpts"
    (ionSlideWillChange)="sliderWillChange()"
    #slider
  >
    <ion-slide>
      <transaction-list
        style="flex: 1"
        [items]="notReadyTransactions$ | async"
      ></transaction-list>
    </ion-slide>
    <ion-slide>
      <transaction-list
        style="flex: 1"
        [items]="readyToSyncTransactions$ | async"
      ></transaction-list>
    </ion-slide>
    <ion-slide>
      <transaction-list
        style="flex: 1"
        [items]="allTransactions$ | async"
      ></transaction-list>
    </ion-slide>
  </ion-slides>
</ion-content>
